* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

body{
    background-color: #1b1b1b   
}

.header {
    background-color: #1b1b1b;
    height: 1px;
    display: left;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}