*{
    padding: 0.5em;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1d2630;
    height: 35%;
    width: 550px;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
    padding: 30px 0;
    border-radius: 8PX;
}

#newtask{
    position: relative;
    padding: 30px 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newtask input{
    border-radius: 5px;
    width: 70%;
    height: 45px;
    font-size: 15px;
    border: 2px solid lightgray;
    padding: 12px;
    font-weight: 500; 
    position: relative;
}

#newtask input:focus{
    outline: none;
    border-color: teal;
}

#newtask button{
    position: relative;
    float: right;
    width: 60px;
    height: 45px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    background: teal;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

#task{
    width: 100%;
    position: relative;
    margin-top: 40px;
    background: white;
    padding: 30px 20px;
    border-radius: 5px;
}

.task{
    background: white;
    height: 50px;
    padding: 5px 10px;
    border-radius: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 2px solid lightgray;
}

.task span{
    font-size: 15px;
    font-weight: 400px;
    cursor: pointer;
}

.task button{
    border: none;
    background: teal;
    height: 100%;
    width: 400%;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    opacity: 0.7;
}